version: '3'
services:
  person-svc:
    image: "servantscode/person-svc:latest"
    ports:
     - "80:8080"
  postgres:
    image: "postgres"
    ports:
     - "5432:5432"
    volumes:
     - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "SuperSecret"

volumes:
  postgres:
